.txtbox {
    background-color: lightpink;
    height: 400px;
    width: 300px;
    margin: 15px;
    flex: 0 0 auto;
}

.comment-container {
    display: flex;
}
.card-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    border: 1px solid red;
}