@font-face {
    font-family: 'MapoFlowerIsland';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MapoGoldenPier';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoGoldenPierA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'MapoFlowerIsland';
    /* font-family: 'MapoGoldenPier'; */
}

.txtbox {
    background-color: lightpink;
    height: 400px;
    width: 300px;
    margin: 15px;
    flex: 0 0 auto;
}

.comment-container {
    display: flex;
}
.card-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    border: 1px solid red;
}