.name {
    font-size: 18px;
    margin: 7px;
}

.line {
    margin: 15px 0px;
}

.margin {
    margin: 40px;
}

.bible-verse, .invite {
    line-height: 1.75rem;
}

.intro-family {
    padding: 2rem 0px;
}