.main-img {
    width: 250px;
    height: 330px;
    padding: 7px;
    margin: 30px;
}

.line {
    margin: 15px;
}



.margin {
    margin: 40px;
}

.bg-color {
    background-color: #f3e8ec;
}



.title-container {
    width: 50%;
    margin: 2rem;
}

.title-container-details {
    margin: 4rem 0rem;
}
